.node-type-ol-event .region-sidebar-second .content h2.block-title {
  display: block;
}
.flag-attending-event,
.flag-not-attending-event,
.flag-attending-event a,
.flag-not-attending-event a {
  width: 100%;
  display: block;
  max-height: 35px;
  margin: 5px 0;
}
#map-canvas {
  width: 223px;
  height: 223px;
}
html .flag-attending-event .unflag-action {
  background-color: #f04124;
  border-color: #ea2f10;
}
html .flag-attending-event .unflag-action:hover {
  background-color: #dc2c0f;
  border-color: #b1240c;
}
html .flag-not-attending-event .unflag-action {
  background-color: #43ac6a;
  border-color: #3c9a5f;
}
html .flag-not-attending-event .unflag-action:hover {
  background-color: #388f58;
  border-color: #2b6e44;
}
#block-openlucius-events-openlucius-events-flag span.reason {
  cursor: pointer;
}
#block-openlucius-events-extras-openlucius-events-flag .flag-attending-event a,
#block-openlucius-events-extras-openlucius-events-flag .flag-not-attending-event a {
  color: #fff;
}
#block-openlucius-events-extras-openlucius-events-flag h2 {
  margin: 10px -19px 10.5px;
}
